*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}
body{
padding: 0;
}
.full_sidebar{
    width: 325px;
    max-width: 325px;
    padding: 50px;
    position: fixed;
    height: 100%;
}
.post_icon{
    padding: 20px;
    background-color: #084D6A;
    border-radius: 50px;
    width: 200px;
}
.seeker{
    display: flex;
    align-self: center;
    justify-content: center;
}
.post_text{
    color: white;
}
.explore,.settings{
    display: flex;
    padding-top: 20px;
    align-items: center;
}
.explore_text,.settings_text{
    color: #084D6A;
    font-size: 35px;
}
.material_top{
    position: fixed;
}
.material_down{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 100px;
    background-color: #084D6A;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
}
.name_bigbox{
    display: flex;
    padding: 5px;
    background-color: #0B7AAA;
    border-radius: 50px;
    height: 70px;
    align-items: center;
}
.name_container{
    color: white;
    font-size: 30px;
}
.tag_container{
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}
.logo1,.r_logo1{
    height: 23px;
    padding-right: 10px;
    margin-top: 4px;
}
.placehold_image{
    border-radius: 100%;
    margin: 5px;
    width: 55px;
    height: 55px;
    margin-left: 10px;
}
.logo2,.logo3{
    margin: 10px;
    width: 45px;
    height: 45px;
}
.settings:hover,.explore:hover,.name_container,.post_icon{
    cursor: pointer;
}

/* Left Sidebar by Ranadheer*/










/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.bi-pin-angle-fill{
    top:21%;
    left:10%;
    color: white;
    position: absolute;
width: 40px;
height: 40px;

background: url(SeekPng.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.bi-compass{
    top:21%;
    left:10%;
    color: black;
    position: absolute;
width: 33px;
height: 33px;
}


.bi-gear-fill{
    top:21%;
    left:10%;
    color: black;
    position: absolute;
width: 33px;
height: 33px;
    
}
.dp{
    padding-top:5%;
    padding-left:5%;
    width: 30%;
    height: 70%;
    border-radius: 50%;
    
}
.name{
    position: absolute;
    bottom: 5%;
    left:2%;
    width:12%;
    color:white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #0B7AAA;
    border-radius: 16px;
    padding-top: 1%;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 30px;
}

.box-2{
    position: absolute;
    width: 33.3%;
    height: 100%;
    border-radius: 16px;
    left: 490px;
    margin-left: 10px;
    border: 2px solid gray;
}

.add-post{
    width: 95%;
    background-color: #084D6A;
    height: 200px;
    padding: 0 12px;
    border-radius: 16px;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}
.dp1{
    width: 35px;
    height: 35px;
    background-color: gray;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;
}
.add{
    margin: 0;
}
.bi-pencil-square{
    color: white;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 40px;
    height: 30px;
}
.userlp1{
    width: 35px;
    height: 35px;
    background-color: gray;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;
}
.post1{
    width: 95%;
    background-color: #0B7AAA;
    height: 200px;
    padding: 0 12px;
    border-radius: 16px;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}
.bi-chat-square{
    position: absolute;
    right: 5px;
}
.bi-heart{
    position: absolute;
    right: 30px;
}
.post2{
    width: 95%;
    background-color: #0B7AAA;
    height: 270px;
    padding: 0 12px;
    border-radius: 16px;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.p2-img{
    width: 100%;
    height: 170px;
    border-radius: 20px;
    padding-top: 5px;
}
.box-3{
    width: 33.3%;
    position: absolute;
    border: 2px solid gray;
    right: 00px;
    height: 100%;
    border-radius: 16px;
}

.bi-search{
    margin-right: 5px;
}
.trending{
    color: #0B7AAA;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-left: 5px;
}
.bi-lightning-charge{
    color: #084D6A;
    font-weight: 400;
    transform: rotate(300);
}
rec8{
height: 46%;
width: 43%;
left: 22%;
right: 30%;
top: 5%;
align-items: center;
border-radius: 20px;
position: absolute;
background: #084D6A;
}
rec7{
    height: 40%;
    width: 43%;
    left: 22%;
    right: 30%;
    top: 54%;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    background:#0B7AAA;
}
ellipse{
    position: absolute;
    top:8%;
    left:4%;
    border-radius: 50%;
width: 50px;
height: 50px;

font-family: 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100%;
color: #FFFFFF;

}
.bi-pencil-square{
color:#FFFFFF;
position: absolute;
top: 10%;
width: 30;
height: 30;
right: 5%;
border: 2px ;
}

.bi-heart{
    color:#FFFFFF;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: 2px ;
    }

    .bi-chat-left{
        color:#FFFFFF;
        position: absolute;
        bottom: 10%;
        right: 2%;
        border: 2px ;
        }

.p1{
font-family:'Trebuchet MS', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 100%;
color: #FFFFFF;
}

.p2{
    padding-top: 10%;
    padding-left: 18%;
    padding-right:5%;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    align-items: center;
    font-size: 100%;
    color: #FFFFFF;
    } */

/* Middle Part by Shivaji and Hemanth*/






.middle{
    position: absolute;
    left: 325px;
    width: 750px;
}
.box_1{
    margin-top: 50px;
    padding: 20px;
    background-color: #084D6A;
    border-radius: 50px;
    height: 350px;
}
.min_box_1{
    display: flex;
}
.pic_total{
    display: flex;
}

.profile_pic{
    padding-left: 15px;
}
.box_2{
    margin-top: 20px;
    padding: 20px;
    background-color:#0B7AAA;
    border-radius: 50px;
    height: 255px;
}
.random_info{
    padding-left: 20px;
    padding-top: 5px;
}
.like_comm{
    padding-top: 30px;
    display: flex;
    padding-left: 600px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding-left: 500px;
}
.like_btn{
    margin-right: 20px;
    height: 25px;
    width: 25px;
}
.like_btn:checked::after{
    content: url(exp/afterlike.png);
}
.comment_btn{
    margin-right: 20px;
    height: 25px;
    width: 25px;
}
.namebox{
    padding-top: 15px;
}
.like_btn:hover,.comment_btn:hover,.material-symbols-outlined:hover{
    cursor: pointer;
}






.explr_img{
    width: 700px;
    height: 250px;
    border-radius: 50px;
    margin-left: 4px;
}

/* Middle part by Ranadheer, Shivaji and Hemanth*/












.right_sidebar{
    padding: 50px;
    position: fixed;
    right: 0%;
    /* background-color: black; for reference only*/
    height: 100%;
    width: 450px;
}
.search{
    display: flex;
    align-self: center;
    justify-content: left;
    padding-left: 15px;
}
.search_text{
    color: #FFFFFF;
}
.search_bar{
    padding: 20px;
    background-color: #084D6A;
    border-radius: 50px;
    width: 350px;
}
.trending{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.trending_text{
    color: #0B7AAA;
    font-size: 35px;
}
.r_material_down{
    padding-top: 50px;
    position: fixed;
}
.r_placehold_image{
    border-radius: 50px;
    right: 70px;
    width: 310px;
    height: 130px;
}
.bigbox{
    position: fixed;
    background-color: #084D6A;
    width: 350px;
    height: 220px;
    padding: 20px;
    border-radius: 50px;
}
.one_text{
    padding-bottom: 15px;
    padding-left: 10px;
    color: #FFFFFF;
}
.r_logo1{
    height: 23px;
    padding-right: 10px;
    margin-top: 4px;
}
.r_logo2{
    margin: 12px;
    width: 25px;
    height: 25px;
}

/* Right Sidebar by Ranadheer */


